<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= path.join(title, 'sfsd') %>
    </h1>
    <p>Welcome to
        <%= title %>
    </p>
        
    <p>Welcome to
        <%= md.render(title) %>
    </p>
</body>

</htmll